---
export interface MangasItem {
	id?: string;
	title: string;
	author: string;
	src: string;
	href: string;
}

const { src, title, author, href } = Astro.props as MangasItem;
---

<div class="flex flex-col">
	<a class="group" href={href}>
		<img src={src} alt="Mangas image" class="rounded-lg shadow" transition:name={`${title}-image`} />
		<div transition:name={`${title}-descrition`}>
			<p class="font-bold mt-4 group-hover:text-orange-500">{title}</p>
			<p class="text-sm text-slate-500">By {author}</p>
		</div>
	</a>
</div>
